/* Core styles */
html {
	scroll-behavior: smooth;
	font-size: 16px;
}
* {
	box-sizing: border-box;
}
body {
	position: relative;
	margin: 0;
	font-family: sans-serif;
	background-color: #fafafa;
}
body::-webkit-scrollbar {
	display: none;
}

.container {
	width: 100%;
	min-height: 100vh;
}

.clearfix {
	clear: both;
}

.button {
	border: none;
	font-size: 0.875rem;
	font-weight: 500;
	padding: 1.26rem 2.5rem;
	cursor: pointer;
	border-radius: 0.625rem;
	text-align: center;
	text-decoration: none;
	display: block;
	background: linear-gradient(to right, #d2d3db 0%, #484b6a 51%, #d2d3db 100%);
	color: #fafafa;
	box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25),
		10px 10px 70px rgba(0, 0, 0, 0.25),
		inset 5px 5px 20px rgba(255, 255, 255, 0.25),
		inset -5px -5px 15px rgba(0, 0, 0, 0.75);
	background-size: 200% auto;
	transition: 0.5s;
}

.button:hover {
	background-position: right;
}

.blur_line {
	display: inline-block;
	margin-left: 0.31rem;
	width: 5rem;
	height: 0.375rem;
	filter: blur(4px);
	border-radius: 5px;
	background-color: #ffd805;
}

.section_info {
	margin-left: 5%;
}

.section_subtitle {
	font-weight: 500;
	letter-spacing: 2px;
	margin-bottom: 0.625rem;
	text-transform: uppercase;
}

.section_title {
	margin-top: 0.5rem;
	font-size: 2.625rem;
	font-weight: 700;
	text-transform: capitalize;
}

.section_description {
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.5rem;
}

.section_subtitle,
.section_description,
.section_title {
	color: #797979;
}
.to_uppercase {
	text-transform: uppercase;
}

/* Core style */

/* Navbar styles */

.main_header {
	display: flex;
	align-items: center;
	padding: 0.125rem 2.1875rem;
	position: fixed;
	width: 100%;
	height: 10vh;
	z-index: 99;
	box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 20%);
}

.main_header:hover {
	background: url('../images/background_light_mode.jpg');
	transition: background 0.3s ease;
}

.main_header_logo a img {
	width: 3.75rem;
}

.main_header_logo {
	display: inline-block;
	vertical-align: middle;
}

.main_navigation {
	width: 50%;
}

.main_navigation_items {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.main_navigation_item {
	list-style: none;
}
.main_navigation_item a {
	text-decoration: none;
	font-size: 0.875rem;
	font-weight: 500;
	font-weight: 900;
	color: #797979;
}

.main_navigation_item a:hover,
.main_navigation_item.active a {
	color: #484b6a;
}

.theme_btn {
	display: inline-block;
	width: 1.5625rem;
	height: 1.5625rem;
	border-radius: 50%;
	filter: drop-shadow(0px 0px 10px);
	margin-left: auto;
	color: #ffd805;
}
.theme_btn:active {
	filter: none;
}

/* /Navbar style*/

/* /Navbar responsive */
@media (max-width: 380px) {
	html {
		font-size: 10px;
	}
	.main_header {
		height: 4.2rem;
	}

	.menu {
		display: block;
	}

	.main_navigation_item {
		display: none;
	}
}
/* /header section responsive */

/* Footer section style */
footer {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-position: center/top;
	background-size: 2500px;
	color: white;
}

footer a,
p {
	color: #797979;
}

footer a {
	text-decoration: none;
}

/* /Footer section style */

/* Modal */
.modal_fade {
	animation-name: modal_fade;
	animation-duration: 0.5s;
}

@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}
/* /Modal */

/* Keyframes */
@keyframes animateBg {
	100% {
		filter: hue-rotate(360deg);
	}
}

/* Footer: email action */

/* Modal action */
@keyframes fade {
	from {
		opacity: 0.1;
	}
	to {
		opacity: 1;
	}
}
/* /Keyframes */

/* Responsive styles */
/* === RESPONSIVE === */
.menu_toggle {
	display: none;
	font-size: 1.8rem;
	background: none;
	border: none;
	cursor: pointer;
	color: #797979;
}

/* 768px dan kichik ekranlarda */
@media (max-width: 767px) {
	html {
		font-size: 8px;
	}

	.main_navigation_items {
		flex-direction: column;
		align-items: center;
		padding: 1rem 0;
	}

	.main_navigation {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: url('../images/background.jpg');
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.3s ease;
	}

	.main_navigation.open {
		max-height: 12rem;
	}

	.menu_toggle {
		display: block;
	}

	/* Core style */
	.container {
		min-height: 50vh;
	}

	.botton {
		width: 20%;
	}

	/* Main section */
	.main_section {
		height: 50vh;
	}

	/* About Me section*/
	.about_me {
		height: 50vh;
	}

	/* Skills section */
	.skills {
		height: 50vh;
	}

	/* My projects section */
	.myprojects {
		height: 50vh;
	}

	/* Contact section */
	.contact {
		height: 50vh;
	}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	html {
		font-size: 12px;
	}

	.main_navigation {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: url('../images/background.jpg');
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.3s ease;
	}

	.main_navigation.open {
		max-height: 12rem;
	}

	.menu_toggle {
		display: block;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	html {
		font-size: 14px;
	}
}

@media only screen and (min-width: 1440px) {
	html {
		font-size: 16px;
	}
}
/* /Navbar style*/
/* /Responsive styles */
